{% extends 'equipment/base.html' %}
{% block title %}Narcotics{% endblock title%}
{% load bootstrap %}
{% block content %}
    <div class="title-container">
        <h1><i class="fas fa-capsules mr-1"></i> Narcotics <a class="btn btn-primary ml-3" style="float: right; margin-right: 10px;font-size: 18px;color: white !important; background-color: #4398d9 !important; border-color: #4398d9 !important;" href="{% url 'narcotics-create' %}"><i class="fas fa-plus mr-1"></i> Add Narcotics</a></h1>
        <p>Manage narcotics inventory.</p>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <h2><i class="fas fa-filter mr-1"></i> Filter</h2>
        <p>Use the form to filter and query the entries.</p>
        <form method="GET">
          {{ filter.form | bootstrap }}
          <button type="submit" class="btn btn-primary" style="background-color: #4398d9 !important; border-color: #4398d9 !important;">Submit</button>
        </form>
      </div>
      <div class="col">
        <h2><i class="fas fa-list mr-1"></i> Narcotics</h2>
        <p>List of all narcotics. Click on "View" to learn more.</p>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><i class="fas fa-tablets mr-1"></i> Unit</th>
              <th scope="col"><i class="fas fa-calendar-alt mr-1"></i> Date</th>
              <th scope="col"><i class="fas fa-sticky-note mr-1"></i> Incident Number</th>
            </tr>
          </thead>
          <tbody>
            {% for narcotic in filter.qs %}
            <tr>
              <th scope="row"><a style="color: black !important;" href="{% url 'narcotics-detail' narcotic.id %}">{{ narcotic.unit }}</a></th>
              <td>{{ narcotic.date }}</td>
              <td>{{ narcotic.incident_number }}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
    </div>
    <br />
{% endblock content %}